/*page background*/
body {
  background-color: orange;
  fontfamily: times-new-roman, arial, sans-serif; 
}

/*main headline*/
h1 {
  color: yellow;
  font-aligned: center;
  font-size: 70px; 
}

/*second headline*/
h2 {
  color: white;
  font-aligned: left;
  font-size: 40px; 
}

/*paragraph heading*/
p {
  color: black;
  font-size: 22px;
  background-color: white;
  padding: 20px;
  border radius: 10px; 
}
